body {
  margin: 0;
  font-family: "Roboto", "Oxygen",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.overView {
  display: flex;
  flex: 1;
  overflow: hidden;
  flex-direction: row;
}
.max-content {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  display: flex;
}
.pageView {
  display: flex;
  height: 100%;
  flex: 1 !important;
  flex-direction: column !important;
}
#header {
  display: flex;
  flex-direction: column;
}
.page-wrapper {
  display: flex;
  flex: 1 1 0%;
  position: relative;
  flex-direction: row;
}
.details-view {
  display: flex;
  flex: 1 1 0%;
  position: unset;
}
.details-view .table-wrapper {
  flex: 1;
  display: flex;
}
.table-wrapper {
  display: flex;
  /*flex: 1; */
  left: 0;
  /* comment out right:0 */
  right: 0;
  top: 144px;
  bottom: 43px;
  /*min-width: 550px;*/
  /* comment out position:absolute */
  position: absolute;
}
.bzXjKq table {
    border-spacing: 0;
    border: 1px solid black;
    /* min-width: 100%; */
    /* width: 100%; */
    width: calc(100% - 200px);
}
.panel-open {
  display: flex;
  width: 35rem;
}
#panel-container {
  border: 2px black solid;
  width: 200px;
  /*right: 0;*/
  /*position: absolute;*/
  flex: 0 0 auto;
  top: 80px;
  bottom: 43px;
  overflow-y: scroll;
  height: 200px;
}
